@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";

.graduated-page-3 {
  @extend %flex-col-center;
  width: 100%;

  &__title {
    @include chart-title-base;

    &__ref-link {
      @extend %flex-center;
      background-color: $theme-2-primary-color;
      border-radius: $border-lg;
      padding: 0 $p-xs 0 $p-xxs;
      text-decoration: none;

      span {
        font-size: $font-xs;
        font-weight: bold;
        color: $white-color;
      }

      img {
        width: 16%;
      }
    }
    &__ref-link:hover {
      @extend %flex-center;
      background-color: $theme-2-primary-color;
      border-radius: $border-lg;
      padding: 0 $p-xs 0 $p-xxs;
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
