@import "./variables.scss";
@import "./breakpoints.scss";

@mixin theme-page-1-title($theme-color) {
  font-size: $font-lg;
  font-weight: bold;
  color: $theme-color;
  @content;
}

@mixin chart-title-basic($theme-color) {
  @extend %flex-center;

  span {
    color: $text-primary-color;
    font-size: $font-md;
    padding: $p-xs;
    text-align: center;
    br {
      display: none;
    }
    strong {
      color: $theme-color;
    }

    @include breakpoint(tablet) {
      font-size: $font-sm;
      br {
        display: none;
      }
    }
    @include breakpoint(mobile) {
      font-size: $font-xs;
      padding: $p-xxs;
      br {
        display: block;
      }
    }
  }
}

@mixin input-container-basic {
  width: 70%;
}

/* RWD ADJUST */

@mixin flex-direction-switch($direction-tablet, $direction-mobile) {
  @include breakpoint(tablet) {
    flex-direction: $direction-tablet;
  }
  @include breakpoint(mobile) {
    flex-direction: $direction-mobile;
  }
}

@mixin display-switch($display-tablet, $display-mobile) {
  @include breakpoint(tablet) {
    display: $display-tablet;
  }
  @include breakpoint(mobile) {
    display: $display-mobile;
  }
}

@mixin width-switch($width-tablet, $width-mobile) {
  @include breakpoint(tablet) {
    width: $width-tablet;
  }
  @include breakpoint(mobile) {
    width: $width-mobile;
  }
}

@mixin height-switch($height-tablet, $height-mobile) {
  @include breakpoint(tablet) {
    height: $height-tablet;
  }
  @include breakpoint(mobile) {
    height: $height-mobile;
  }
}

@mixin font-size-switch($font-size-tablet, $font-size-mobile) {
  @include breakpoint(tablet) {
    font-size: $font-size-tablet;
  }
  @include breakpoint(mobile) {
    font-size: $font-size-mobile;
  }
}
