%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-row-center {
    @extend %flex-center;
    flex-direction: row;
}

%flex-col-center {
    @extend %flex-center;
    flex-direction: column;
}

%flex-row-between {
    @extend %flex-between;
    flex-direction: row;
}

%flex-col-between {
    @extend %flex-between;
    flex-direction: column;
}