/* Colors */

// General
$white-color: #ffffff;
$background-color: #f8f8f8;
$unselected-color: #c5c5c5;
$hover-color: #f5f5f5;

// For Text
$text-primary-color: #686868;

// For Home Themes
$theme-1-primary-color: #e37464;
$theme-1-secondary-color: #fffdef;
$theme-2-primary-color: #789ee7;
$theme-2-secondary-color: #d4e2fc;
$theme-3-primary-color: #00bcd4;
$theme-3-secondary-color: #ebfaff;

// For Charts
$future-chart-first-color: #e37464;
$future-chart-second-color: #f5ca60;
$future-chart-third-color: #96b48b;

$graduated-chart-first-color: #789ee7;
$graduated-chart-second-color: #aac7ff;
$graduated-chart-third-color: #d4e2fc;
$graduated-chart-other-color: #e4e4e4;

/* Fonts */

// For web
$font-xxl: 3.75rem;
$font-xl: 3rem;
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 1.25rem;
$font-xs: 1rem;
$font-xxs: 0.75rem;
$font-xxxs: 0.5rem;

// For mobile
$font-mobile-xxl: 2rem;
$font-mobile-xl: 1.5rem;
$font-mobile-lg: 1rem;
$font-mobile-md: 0.75rem;
$font-mobile-sm: 0.5rem;
$font-mobile-xs: 0.25rem;

/* Padding */
$p-xxl: 5rem;
$p-xl: 2.5rem;
$p-lg: 2rem;
$p-md: 1.5rem;
$p-sm: 1rem;
$p-xs: 0.75rem;
$p-xxs: 0.5rem;
$p-xxxs: 0.25rem;

/* Margin */
$m-xxl: 5rem;
$m-xl: 2.5rem;
$m-lg: 2rem;
$m-md: 1.5rem;
$m-sm: 1rem;
$m-xs: 0.75rem;
$m-xxs: 0.5rem;
$m-xxxs: 0.25rem;

/* Border Radius */
$border-lg: 100px;
$border-sm: 5px;

/* Box Shadow */
$box-shadow-dropdown: 0 4px 4px 0 rgba(166, 166, 166, 0.1);
$box-shadow-tooltip: 0 4px 4px 0 rgba(131, 131, 131, 0.1);
$box-shadow-block: 0 4px 4px 0 rgba(131, 131, 131, 0.1);
