/* Colors */

// General
$white-color: #FFFFFF;
$background-color: #F8F8F8;
$unselected-color: #C5C5C5;

// For Text
$text-primary-color: #686868;

// For Themes
$theme-1-primary-color: #E37464;
$theme-1-secondary-color: #FFFDEF;
$theme-2-primary-color: #789EE7;
$theme-2-secondary-color: #D4E2FC;
$theme-3-primary-color: #00BCD4;
$theme-3-secondary-color: #EBFAFF;

// For Charts
$theme-2-chart-first-color: #789EE7;
$theme-2-chart-second-color: #AAC7FF;
$theme-2-chart-third-color: #D4E2FC;
$theme-2-chart-other-color: #E4E4E4;


