/* Colors */

// General
$white-color: #FFFFFF;
$background-color: #F8F8F8;
$unselected-color: #C5C5C5;

// For Text
$text-primary-color: #686868;

// For Themes
$theme-one-primary-color: #E37464;
$theme-one-secondary-color: #FFFDEF;
$theme-two-primary-color: #789EE7;
$theme-two-secondary-color: #D4E2FC;
$theme-three-primary-color: #00BCD4;
$theme-three-secondary-color: #EBFAFF;

// For Charts
$theme-two-chart-first-color: #789EE7;
$theme-two-chart-second-color: #AAC7FF;
$theme-two-chart-third-color: #D4E2FC;
$theme-two-chart-other-color: #E4E4E4;


