@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";
@import "../../styles/breakpoints";

.bar-style {
  fill: #96b48b;
  path:hover {
    opacity: 0.7;
  }
}

.future-page-3 {
  @extend %flex-col-center;
  width: 100%;

  &__title {
    @include chart-title-base;
  }

  &__chart {
    @extend %flex-row-center;
    width: 100%;

    &__icons {
      @extend %flex-col-between;
      // justify-content: space-around;
      height: 270px;

      &__icon {
        height: 40px;
        width: 40px;
      }
    }

    &__custom-tooltip {
      color: $text-primary-color;
      font-size: $font-xxs;
      background-color: $white-color;
      padding: $p-xxs;
      border-radius: $border-sm;
      box-shadow: $box-shadow-tooltip;
      font-weight: bold;
    }

    &__custom-tick {
      tspan {
        font-size: 1rem;
        font-weight: bold;
        fill: $text-primary-color;
      }
    }

    &__custom-label {
      fill: $text-secondary-color;
      font-size: $font-xs;
      font-weight: bold;
      // display: block;
    }
  }
}
