@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";

%percentage-text-basic {
  font-size: $font-xl;
  font-weight: bold;
}

.future-page-2 {
  @extend %flex-col-center;

  &__title {
    @include chart-title-basic;
  }

  &__chart {
    @extend %flex-row-start;
    @include breakpoint(tablet) {
      flex-direction: column;
    }

    &__element {
      @extend %flex-col-between;
      margin: 0 $m-xl;

      @include breakpoint(mobile) {
        flex-direction: row;
      }

      &__image {
        height: 24vh;
        margin: $m-sm;

        @include breakpoint(tablet) {
          height: 15vh;
        }
      }

      &__info {
        @extend %flex-col-center;

        &__percentage {
          &--1 {
            @extend %percentage-text-basic;
            color: $future-chart-first-color;
          }
          &--2 {
            @extend %percentage-text-basic;
            color: $future-chart-second-color;
          }
          &--3 {
            @extend %percentage-text-basic;
            color: $future-chart-third-color;
          }
        }

        &__title {
          color: $text-primary-color;
          font-size: $font-md;
          font-weight: bold;

          @include breakpoint(tablet) {
            font-size: $font-sm;
          }

          @include breakpoint(mobile) {
            font-size: $font-mobile-lg;
          }
        }
      }
    }
  }
}
