@import "../../styles/variables";
@import "../../styles/layout";

.custom-tooltip {
  span {
    color: $text-primary-color;
    font-size: $font-xs;
    padding: $p-xs;
    background-color: $white-color;
    border-radius: $border-sm;
    box-shadow: $box-shadow-tooltip;
  }
}

.future-page-3 {
  @extend %flex-col-center;
  width: 100%;

  &__title {
    @extend %flex-center;

    span {
      color: $text-primary-color;
      font-size: $font-md;
      font-weight: bold;
      padding: $p-xs;
    }
  }

  &__chart {
    @extend %flex-row-center;
    width: 100%;

    &__icons {
      @extend %flex-col-between;
      // justify-content: space-around;
      height: 270px;

      &__icon {
        height: 40px;
        width: 40px;
      }
    }
  }
}
