@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";

.future-page-1 {
  @extend %flex-col-between;

  &__title {
    @include theme-title($theme-1-primary-color);
  }

  &__label {
    @extend %flex-center;
    width: 100%;
    color: $text-primary-color;
    font-size: $font-sm;
    font-weight: bold;
    padding: $p-xxs;
  }

  &__btn {
    @extend %flex-row-center;
    padding: $p-xs $p-md;
    background-color: $theme-1-primary-color;
    color: $white-color;
    border-radius: $border-lg;
    font-size: $font-md;
    font-weight: bold;
    cursor: pointer;

    div {
      margin: 0 $m-xs;
    }
  }

  &__chooserBox {
    @extend %flex-col-center;
    width: 100%;
  }

  &__chooser {
    @extend %flex-row-center;
    width: 100%;

    &__dropdown {
      position: relative;

      &__btn {
        padding: $p-xxs;
        background-color: $white-color;
        border: 0.8px solid $text-primary-color;
        border-radius: $border-sm;
        font-size: $font-xs;
        font-weight: bold;
        color: $text-primary-color;
        cursor: pointer;
        min-width: 300px;
      }

      &__items {
        position: absolute;
        background-color: $white-color;
        padding: $p-xs;
        border-radius: $border-sm;
        box-shadow: $box-shadow-dropdown;
        width: 300px;

        &__item {
          padding: $p-xs;
          cursor: pointer;
          border-radius: $border-sm;

          &:hover {
            background-color: $hover-color;
          }
        }
      }
    }

    &__degree {
      margin: 0 $m-md;
      cursor: pointer;
    }

    &__year__selected {
      margin: 0 $m-md;
      padding: $p-sm $p-md;
      border-radius: $border-sm;
      font-size: $font-sm;
      font-weight: bold;
      cursor: pointer;
      background-color: $white-color;
      border: 0.8px solid $text-primary-color;
      color: $text-primary-color;
    }

    &__year__unselected {
      margin: 0 $m-md;
      padding: $p-sm $p-md;
      border-radius: $border-sm;
      font-size: $font-sm;
      font-weight: bold;
      cursor: pointer;
      background-color: none;
      border: 0.8px solid $unselected-color;
      color: $unselected-color;
    }
  }
}
