@import "../../styles/variables.scss";

@mixin theme-layout($primary-color){
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .theme {
    &__image {
      height: 36vh;
    }
  
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 40px;
    }

    &__title {
      color: $primary-color;
      font-size: 60px;
      font-weight: bold;
      padding: 10px;
    }
  
    &__intro {
      color: #686868;
      line-height: 48px;
      padding: 10px;
    }
  
    &__nav-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-color;
      padding: 20px 10px;
      margin-top: 40px;
      font-size: 20px;
      color: white;
      border-radius: 100px;
    }
  }
}

.theme-1 {
  @include theme-layout($theme-1-primary-color);
}

.theme-2 {
  @include theme-layout($theme-2-primary-color);
}

.theme-3 {
  @include theme-layout($theme-3-primary-color);
}