@import "../../styles/variables";
@import "../../styles/layout";

@mixin home-theme-layout($primary-color) {
  @extend %flex-row-center;

  .home-theme {
    &__image {
      height: 36vh;
    }

    &__info {
      @extend %flex-col-between;
      margin: 40px;
    }

    &__title {
      color: $primary-color;
      font-size: $font-xxl;
      font-weight: bold;
      padding: 10px;
    }

    &__intro {
      color: #686868;
      line-height: 48px;
      padding: 10px;
    }

    &__nav-btn {
      @extend %flex-row-center;
      background-color: $primary-color;
      padding: 20px 30px;
      margin-top: 40px;
      font-size: 20px;
      font-weight: bold;
      color: $white-color;
      border-radius: $border-lg;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        span {
          padding-right: 25px;

          &:after {
            opacity: 1;
            right: 0;
          }
        }
      }

      span {
        position: relative;
        transition: 0.5s;

        &:after {
          content: "\00bb";
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
      }
    }
  }
}

.home-theme-1 {
  @include home-theme-layout($theme-1-primary-color);
}

.home-theme-2 {
  @include home-theme-layout($theme-2-primary-color);
}

.home-theme-3 {
  @include home-theme-layout($theme-3-primary-color);
}
