@import "../styles/variables";

.navbar {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 0px 64px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    &__title {
        color: #d4d4d4;
        text-decoration: none;
    }
    
    &__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__link {
            padding: 16px;
            text-decoration: none;
        }
    }
}