@import "../styles/variables";
@import "../styles/layout";
@import "../styles/breakpoints";

@mixin link($theme-color) {
  font-weight: bold;
  text-decoration: none;
  padding: $p-sm $p-md;
  color: $theme-color;
  display: block;
  @content;
  @include breakpoint(tablet) {
    display: none;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}

.navbar {
  @extend %flex-row-between;
  position: absolute;
  z-index: 100;
  top: 0;
  background-color: $white-color;
  width: 100%;

  &__title {
    color: #d4d4d4;
    text-decoration: none;
    padding: $p-sm $p-md;
  }

  &__menu {
    @extend %flex-row-between;

    &__link {
      &__theme-1 {
        @include link($theme-1-primary-color);
      }
      &__theme-2 {
        @include link($theme-2-primary-color);
      }
      &__theme-3 {
        @include link($theme-3-primary-color);
      }
    }

    &__btn {
      padding: $p-sm $p-md;
      display: none;

      @include breakpoint(tablet) {
        display: block;
      }
      @include breakpoint(mobile) {
        display: block;
      }
    }
  }
}
