.navbar {
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 8px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.title {
    display: flex;
    color: #d4d4d4;
    text-decoration: none;
}

.list {
    display: flex;
    list-style-type: none;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: flex;
    padding: 16px;
    text-decoration: none;
}