@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";
@import "../../styles/breakpoints";

.geographies-style {
  opacity: 1;
}
.geographies-style-hover {
  opacity: 0.7;
}

.career-page-5 {
  @extend %flex-col-center;
  width: 70vw;

  &__chart-tooltip {
    font-size: $font-xxs;
    color: $text-primary-color;
    padding: $p-xxs;
    background-color: $white-color;
    font-weight: bold;
    border-radius: $border-sm;
    pointer-events: none; // prevent tooltip flickering when hovering the mouse
  }

  &__title {
    @include theme-title($theme-3-primary-color);
  }

  &__inputContainer {
    width: 100%;
  }

  &__title {
    @include chart-title-base;
  }

  &__chart-container {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(tablet) {
      width: 50vw;
    }
    @include breakpoint(mobile) {
      width: 50vw;
    }
  }
}
