@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";
@import "../../styles/breakpoints";

@mixin input-container-basic {
  width: 70%;
}

.career-page-1 {
  @extend %flex-col-center;
  width: 70vw;

  &__title {
    @include theme-title($theme-3-primary-color);
  }

  &__inputContainer {
    @include input-container-basic;

    &__career--desktop {
      display: block;
      @include breakpoint(mobile) {
        display: none;
      }
    }
    &__career--mobile {
      display: none;
      @include breakpoint(mobile) {
        display: block;
      }
    }
  }
}
