@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";
@import "../../styles/breakpoints";

.career-page-4 {
  @extend %flex-row-center;
  width: 100%;
  @include flex-direction-switch(row, column);

  &__chart-container {
    @extend %flex-col-center;
    // width: 40%;

    &__title {
      @include chart-title-basic($theme-3-primary-color);
    }
  }

  &__salary-chart {
    @extend %flex-row-center;
    @include flex-direction-switch(column, column);

    &__element {
      @extend %flex-col-center;
      width: 100%;
      padding: $p-xxs;
      margin: 0 0 $m-sm $m-sm;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: $border-sm;
      box-shadow: $box-shadow-block;
      @include flex-direction-switch(row, row);
      &__title {
        @extend %flex-center;
        img {
          // padding: $p-xxs;
        }
        span {
          padding: $p-xs;
          font-size: $font-md;
          color: $text-primary-color;
          font-weight: bold;
        }
      }
      &__data-container {
        @extend %flex-col-center;
      }
      &__data {
        @extend %flex-row-start;
        width: 100%;
        &__label {
          padding: $p-xxs;
          font-size: $font-sm;
          color: $text-primary-color;
          font-weight: bold;
        }
        &__range {
          padding: $p-xs;
          font-size: $font-sm;
          color: $text-primary-color;
          @include breakpoint(mobile) {
            padding: $p-xxs;
          }
        }
      }
    }
  }
}
