@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";
@import "../../styles/breakpoints";

.career-page-1 {
  @extend %flex-col-center;
  width: 70vw;

  &__title {
    @include theme-page-1-title($theme-3-primary-color);
  }

  &__input-container {
    @include input-container-basic;

    &--desktop {
      display: block;
      @include display-switch(block, none);
    }
    &--mobile {
      display: none;
      @include display-switch(none, block);
    }
  }
}
