@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";
@import "../../styles/breakpoints";

.career-page-2 {
  @extend %flex-col-center;
  height: 50vh;
  width: 60vw;
  z-index: 1;

  @include breakpoint(tablet) {
    width: 70vw;
  }

  @include breakpoint(mobile) {
    width: 80vw;
  }

  &__title {
    @extend %flex-col-center;
    margin-bottom: $m-sm;

    span {
      font-size: $font-sm;
      font-weight: bold;
      color: $text-primary-color;
    }
    div {
      font-size: $font-lg;
      font-weight: bold;
      color: $theme-3-primary-color;
    }
  }

  &__description {
    @extend %flex-col-center;

    background-color: rgba(255, 255, 255, 0.5);
    padding: $p-sm;
    border-radius: $border-sm;
    font-weight: bold;
    &__title {
      width: 100%;
      // margin-bottom: $m-xs;
      span {
        font-size: $font-sm;
        font-weight: bold;
        color: $text-primary-color;
      }
      img {
      }
    }
    &__info {
      font-size: $font-xs;
      // font-weight: bold;
      color: $text-primary-color;
    }
  }

  &__subTypes {
    // background-color: antiquewhite;
    padding: $p-sm;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &__subType {
      // background-color: aqua;
      background-color: $white-color;
      padding: $p-xs;
      margin: $m-xxxs;
      font-size: $font-xs;
      font-weight: bold;
      border-radius: $border-sm;
    }
  }

  &__area-chart {
    @extend %flex-col-center;
    width: 100%;
    &__title {
      font-size: $font-xs;
      color: $theme-3-primary-color;
      font-weight: bold;
      padding-bottom: $p-xxs;
    }
    &__bar {
      @extend %flex-row-center;
      height: 0.75rem;
      width: 100%;
      &--left {
        width: 75%;
        height: 100%;
        background-color: $theme-3-primary-color;
      }
      &--right {
        width: 25%;
        height: 100%;
        background-color: $unselected-color;
      }
    }
  }

  &__background-img--left {
    position: absolute;
    top: 0.5%;
    left: 3%;
    z-index: -1;
    // background-color: aquamarine;
    // @include breakpoint(tablet) {
    //   left: 50%;
    // }
    @include breakpoint(mobile) {
      left: -20%;
    }
  }
  &__background-img--right {
    position: absolute;
    bottom: 0.5%;
    right: 3%;
    z-index: -1;
    // background-color: aqua;
    display: block;

    // @include breakpoint(tablet) {
    //   right: -3%;
    // }
    @include breakpoint(mobile) {
      right: -20%;
    }
  }
}
