@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";
@import "../../styles/breakpoints";

.career-page-3 {
  @extend %flex-row-center;
  width: 100%;
  @include flex-direction-switch(row, column);
  &__chart-container {
    @extend %flex-col-center;
    // width: 40%;

    &__title {
      @include chart-title-basic;
    }
  }

  &__gender-chart {
    @extend %flex-row-center;
    width: 60vw;

    @include width-switch(80vw, 90vw);
    &__label {
      @extend %flex-col-center;
      img {
        padding: $p-sm;
        width: 10vw;
      }
      span {
        font-weight: bold;
        color: $text-primary-color;
        font-size: $font-sm;
      }
    }
    &__bar-container {
      @extend %flex-col-center;
      width: 100%;
      &__label {
        @extend %flex-row-between;
        width: 100%;
        padding-top: $p-xs;
        span {
          font-weight: bold;
          color: $text-primary-color;
          font-size: $font-sm;
        }
      }
    }
    &__bar {
      @extend %flex-row-center;
      width: 100%;
      &--male {
        padding: $p-xs 0;
        border-radius: $border-lg 0 0 $border-lg;
        background-color: $career-chart-first-color;
      }
      &--female {
        padding: $p-xs 0;
        border-radius: 0 $border-lg $border-lg 0;
        background-color: $career-chart-second-color;
      }
    }
  }
}
