@import "../../styles/variables";
@import "../../styles/layout";

.input-label {
  @extend %flex-start;
  width: 100%;
  span {
    padding: $p-xs $p-xxs;
    font-size: $font-sm;
    color: $text-primary-color;
    font-weight: bold;
  }
}
