@import "../../styles/variables";
@import "../../styles/layout";
@import "../../styles/index";

.radio-btn-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  > * {
    flex-grow: 1;
    flex-basis: 20%;
  }

  &__radio-btn__selected {
    @extend %radio-btn;
    color: $text-primary-color;
    border: 0.8px solid $text-primary-color;
    background-color: $white-color;
  }
  &__radio-btn__unselected {
    @extend %radio-btn;
    color: $unselected-color;
    border: 0.8px solid $unselected-color;
    background-color: none;
  }
}
%radio-btn {
  @extend %flex-center;
  margin: $p-xxxs;
  padding: $p-xs;
  font-size: $font-xs;
  font-weight: bold;
  border-radius: $border-sm;
  cursor: pointer;
}
