@import "../../styles/variables";
@import "../../styles/layout";

@mixin scroll-to-top-btn($bg-color) {
  @extend %flex-row-center;
  margin: $m-sm;
  padding: $p-xxs $p-sm;
  color: $white-color;
  border-radius: $border-lg;
  font-size: $font-sm;
  font-weight: bold;
  cursor: pointer;
  background-color: $bg-color;
  @content;

  :hover {
    opacity: 0.7;
  }
  div {
    margin: 0 $m-xs;
  }
}

.scroll-to-top-btn {
  &__theme-1 {
    @include scroll-to-top-btn($theme-1-primary-color);
  }
  &__theme-2 {
    @include scroll-to-top-btn($theme-2-primary-color);
  }
  &__theme-3 {
    @include scroll-to-top-btn($theme-3-primary-color);
  }
}
